<!DOCTYPE html>
<html lang="id" style="scroll-behavior: smooth;">
<head>
    <link rel="stylesheet" href="/css/custom.css">
    <title><%= locals.title || 'CureCart' %></title>
</head>
<body class="bg-light"> 
<div class="container"> 
<nav class="navbar navbar-expand-lg navbar-light navbar-sticky-glass">
    </nav>