<%- include('_header', { title: 'Pembayaran Berhasil' }) %>

<div class="container text-center py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="display-4 text-success">Pembayaran Berhasil!</h1>
            <p class="lead">Terima kasih atas pesanan Anda. Kami telah menerima pembayaran Anda.</p>
            <p>Stok produk telah diperbarui dan pesanan Anda sedang disiapkan.</p>
            <a href="/" class="btn btn-primary btn-lg mt-3">Kembali ke Toko</a>
        </div>
    </div>
</div>

<%- include('_footer') %>